---
layout: default.liquid
pagination:
  data: counties
  size: 1
  alias: county
  title: R-Effective in {{ county.countyName }}
permalink: "{{ county.countyName | slug | stripCounty }}-{{ county.stateName | stateAbbrev | slug }}.html"
---

<h1>R-Effective in {{ county.countyName }}</h1>

<p>R-Eff {{ county.projections.Rt }}</p>
