---
pagination:
    data: counties
    size: 1
    alias: county
    title: R-Effective in {{ county.countyName }}
permalink: "{{ county.countyName | slug | stripCounty }}-{{ county.stateName | stateAbbrev | slug }}.html"
---

<!doctype html>

<html>
  <head>
    <title>COVID-19 R-Effective value in {{county.countyName}}, {{county.stateName}}</title>
  </head>
  <body>
    {{ county.countyName }} is in {{ county.stateName }} with R-Eff {{county.projections.Rt}}
  </body>
</html>

