---
layout: default.liquid
title: COVID-19 R-Effective in US Counties
data: counties
---

<h1>{{ title }}</h1>
<ul>
  {% for county in counties %}
  <li>
    <a
      href="{{ county.countyName | slug | stripCounty }}-{{
        county.stateName | stateAbbrev | slug
      }}.html"
      >{{ county.countyName }}, {{ county.stateName }}</a
    >
  </li>
  {% endfor %}
</ul>
