---
layout: default.liquid
pagination:
  data: counties
  size: 1
  alias: county
permalink: "{{ county.countyName | slug | stripCounty }}-{{ county.stateName | stateAbbrev | slug }}.html"
renderData:
  title: "{{ county.countyName }}, {{ county.stateName | stateAbbrev }}
  "
---

<article
  style="transform: rotate({{ title | randomAngle }}deg)"
  class="{{ county.projections.Rt | severityClass }}"
>
  <header>
    <h2>
      {{ county.countyName }}
      <br />

      {% if county.projections.Rt %} R<sub>t</sub> =
      {{ county.projections.Rt | roundRt }}
      {% endif %}
    </h2>
  </header>
  <section>
    <h1>
      {{ county.projections.Rt | expletives }}
    </h1>
  </section>
</article>
