---
layout: default.liquid
data: counties
---

<h1>How fucked is your county?</h1>

{% for county in counties %}
<p>
  <a
    class="{{ county.projections.Rt | severityClass }}"
    href="{{ county.countyName | slug | stripCounty }}-{{
      county.stateName | stateAbbrev | slug
    }}.html"
    >{{ county.countyName }}, {{ county.stateName }}</a
  >
</p>
{% endfor %}

<h2>({{ globals.title }})</h2>
